.row.justify-content-center
  -# left container
  .col-lg-7
    .card
      .card-body
        .h3.text-center
          Hole Editor

        -# info
        %dl.row.mb-0
          %dt.col-md-3 Hole:
          %dd.col-md-9= "Hole #{$hole.id}"
          %dt.col-md-3 Course:
          %dd.col-md-9= "#{$course.id}"
          .create{:id => "create"}
  -# right container
  .col-lg-5
    .card
      .card-body
        -# button
        .row
          .ms-auto.float-end
            -# TODO:change path, e.g. edit_course_path(course)
            = link_to 'View', course_hole_path($course, $hole), class: 'btn btn-outline-primary ms-auto'
            = link_to 'Back', course_holes_path($course), class: 'btn btn-outline-secondary ms-auto'
    .card 
      .card-body
        .h3.text-center
          Tools
        Hole: 
        %input{:type=> "radio", :id=> "Hole", :onclick=>"box()",:name=>"terrain",:checked=>"checked"}
        Green: 
        %input{:type=> "radio", :id=> "Green", :onclick=>"box(),addButton()",:name=>"terrain"}
        Fairway: 
        %input{:type=> "radio", :id=> "Fairway", :onclick=>"box(),addButton()",:name=>"terrain"}
        Rough: 
        %input{:type=> "radio", :id=> "Rough", :onclick=>"box(),addButton()",:name=>"terrain"}
        Bunker: 
        %input{:type=> "radio", :id=> "Bunker", :onclick=>"box(),addButton()",:name=>"terrain"}
        Tee: 
        %input{:type=> "radio", :id=> "Tee", :onclick=>"box(),addButton()",:name=>"terrain"}
        Water: 
        %input{:type=> "radio", :id=> "Water", :onclick=>"box(),addButton()",:name=>"terrain"}

        %br
        Draw:
        %input{:type=> "radio",:id=> "drawCheck",:onclick=>"toolBox()",:name=>"tool"}
        Select: 
        %input{:type=> "radio", :id=> "selectCheck", :onclick=>"toolBox()",:name=>"tool",:checked=>"checked"}
        Delete: 
        %input{:type=> "radio", :id=> "deleteCheck", :onclick=>"toolBox()",:name=>"tool"}
        %br
        Shift+Click to delete point
        %br
        %button{:type=>"button",:id=> "update",:onclick=>"saveMap()"}
          Save Map
        %button{:type=>"button",:id=> "cleardraw",:onclick=>"cleardraw()"}
          Clear Map
        %button{:type=>"button",:id=> "addButton",:onclick=>"addButton()"}
          new object
        -# col: <input type="checkbox" id="colCheck" onclick="getCol()">
    .card
      .card-body
        %p{:id=>"SVGout"} #{$hole.map}



-# -# TODO:
-# #sidebar.container
-#   .checkboxs 
-#     %input#check{type: "checkbox"}
-#     %label{for: "check"}
-#       %i#btn
-#         = image_pack_tag 'element.png', height: 50
-#       %ul.sidebar
-#         Elements
-#     #sidebar-secondary.container
-#       %ul.sidebar
-#         Tee Shot
-#       %ul.sidebar
-#         Fairway
-#       %ul.sidebar
-#         Rough
-#       %ul.sidebar
-#         Recovery
-#       %ul.sidebar
-#         Sand
-#       %ul.sidebar
-#         Green
-#       %ul.sidebar
-#         Penalty
-#       %ul.sidebar
-#         Pick up
-#       %ul.sidebar
-#         Lake 
-#       %ul.sidebar
-#         Tree 
-#       %ul.sidebar
-#         Hole 
-#   .checkboxs 
-#     %i
-#       = image_pack_tag 'element.png', height: 50