.row.justify-content-center
  -# left container
  .col-lg-7
    .card
      .card-body
        .h3.text-center
          Hole Editor
          .create{:id => "create"}

  -# right container
    -# info editor
  .col-lg-5
    .card 
      .card-body
        .h3.text-center
          Info Edit
        .card-body
        = simple_form_for([$course, @hole], url: course_hole_path($course, @hole) , method: :patch) do |f|
          .card-body
            = f.input :holeNumber, wrapper_html: { class: 'mb-3' }
            = f.input :map, wrapper_html: { class: 'mb-3' }
            = f.input :note, wrapper_html: { class: 'mb-3' }
            %button.btn.btn-primary{ type: 'submit' }
              Save

        -# %dl.row.mb-0.text-center
        -#   %dt.col-md-3 Hole:
        -#   %dd.col-md-2= "Hole #{$hole.id}"
        -#   %dt.col-md-3 Course:
        -#   %dd.col-md-2= "#{$course.id}"
        -# .row
        -# .ms-auto.text-center
        -#   = link_to 'edit', course_hole_path($course, $hole), class: 'btn btn-outline-primary ms-auto'

    %hr.border.text-success.border-5.opacity-75
    -# map editor
    .card 
      .card-body
        .h3.text-center
          Map Tools
        Hole: 
        %input{:type=> "radio", :id=> "Hole", :onclick=>"box()",:name=>"terrain",:checked=>"checked"}
        Green: 
        %input{:type=> "radio", :id=> "Green", :onclick=>"box(),addButton()",:name=>"terrain"}
        Fairway: 
        %input{:type=> "radio", :id=> "Fairway", :onclick=>"box(),addButton()",:name=>"terrain"}
        Rough: 
        %input{:type=> "radio", :id=> "Rough", :onclick=>"box(),addButton()",:name=>"terrain"}
        Bunker: 
        %input{:type=> "radio", :id=> "Bunker", :onclick=>"box(),addButton()",:name=>"terrain"}
        Tee: 
        %input{:type=> "radio", :id=> "Tee", :onclick=>"box(),addButton()",:name=>"terrain"}
        Water: 
        %input{:type=> "radio", :id=> "Water", :onclick=>"box(),addButton()",:name=>"terrain"}

        %br
        Draw:
        %input{:type=> "radio",:id=> "drawCheck",:onclick=>"toolBox()",:name=>"tool"}
        Select: 
        %input{:type=> "radio", :id=> "selectCheck", :onclick=>"toolBox()",:name=>"tool",:checked=>"checked"}
        Delete: 
        %input{:type=> "radio", :id=> "deleteCheck", :onclick=>"toolBox()",:name=>"tool"}
        Calibration: 
        %input{:type=> "radio", :id=> "calibrationCheck", :onclick=>"toolBox()",:name=>"tool"}
        %input{:type=> "text", :id=> "calibrationNum", :onclick=>"",:name=>""}
        %button{:type=>"button",:id=> "calibrate",:onclick=>"calibrateMap()"}
          Calibrate 
        %br
        Shift+Click to delete point
        %br
        %button{:type=>"button",:id=> "update",:onclick=>"saveMap()"}
          Save Map
        %button{:type=>"button",:id=> "cleardraw",:onclick=>"cleardraw()"}
          Clear Map
        %button{:type=>"button",:id=> "addButton",:onclick=>"addButton()"}
          new object
        -# col: <input type="checkbox" id="colCheck" onclick="getCol()">
      .card-body
        %p{:id=>"SVGout",:style=>"display:none;"} #{$hole.map}
        %button{:type=>"button",:id=> "downloadButton",:onclick=>"downloadMap(#{$hole.id},#{$course.id})"}
          Download Map
      .card-body 
        %button{:type=>"button",:id=> "leftButton",:onclick=>"BackgroundLeft()"}
          Left
        %button{:type=>"button",:id=> "rightButton",:onclick=>"BackgroundRight()"}
          Right
        %button{:type=>"button",:id=> "upButton",:onclick=>"BackgroundUp()"}
          Up
        %button{:type=>"button",:id=> "downButton",:onclick=>"BackgroundDown()"}
          Down
        %button{:type=>"button",:id=> "largerButton",:onclick=>"BackgroundLarger()"}
          Larger
        %button{:type=>"button",:id=> "smallerButton",:onclick=>"BackgroundSmaller()"}
          Smaller
        %input{:type=> "checkbox", :id=> "traceButton", :onclick=>"Trace()"}
          Overlay Mode
      .card-body
        -# button
        .row
          .ms-auto.text-center
            = link_to 'view', course_hole_path($course, $hole), class: 'btn btn-outline-primary ms-auto'
            = link_to 'back', course_holes_path($course), class: 'btn btn-outline-secondary ms-auto'

