%br
- if can? :create, Hole
  = link_to 'New Hole', new_course_hole_path , class: 'btn btn-outline-secondary ms-auto'

%table.table.table-striped
  %thead 
    %tr 
      %th Hole Number
      %th Hole note
      %th Course ID

  %tbody
    - $holes.each do |hole|
      %tr 
        %td= hole.holeNumber
        %td= hole.note
        %td= hole.course_id
        %td
          .ms-auto.float-end
            = link_to 'show', course_hole_path($course, hole), class: 'btn btn-outline-secondary ms-auto'
            - if can? :edit, hole
              = link_to 'edit', edit_course_hole_path($course, hole), class: 'btn btn-outline-secondary ms-auto'
            - if can? :destroy, hole
              = link_to 'Destroy', course_hole_path($course, hole), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'