.row.justify-content-center
  -# left container
  .col-lg-7
    .card
      .card-body
        .h3.text-center
          Course Info

        -# info
        %dl.row.mb-0
          %dt.col-md-3 CID:
          %dd.col-md-9= @course.id
          %dt.col-md-3 Name:
          %dd.col-md-9= @course.name
          %dt.col-md-3 Description:
          %dd.col-md-9= @course.path
          %dt.col-md-3 Hole:
          %dd.col-md-9= "Hole #{@hole.id}"
          .create{:id => "create"}
          .display{:id => "display"}
  -# right container
  .col-lg-5
    .card
      .card-body
        .h3.text-center
          Selected Location
        -# table
        .row
          %table.table.table-bordered.table-striped
            %thead
              %tr.table-dark.fw-bold
                %th
                  Terrain
                %th
                  Distance(yards)
                %th
                  Baseline Strokes
            %tbody
              %tr
                %th
                  %p{:id=>"terrainShow"}
                %th
                  %p{:id=>"distanceShow"}
                %th
                  %p{:id=>"baselineShow"}
        -# note
        .row
          .form-group.text-center
            %label
              Note:
            %textarea.form-control{:rows => "5"}= @hole.note

        -# checkbox
        .row.text-center.fw-bold
          .div
            %input{type: "checkbox"}
              View baselines?

        -# button
        .row
          .ms-auto.float-end
            -# TODO:change path, e.g. edit_course_path(course)
            = link_to 'create', edit_course_path, class: 'btn btn-outline-primary ms-auto'
            = link_to 'edit', edit_course_path, class: 'btn btn-outline-primary ms-auto'
        .row
        .card-footer.d-flex
          = link_to 'Back', courses_path, class: 'btn btn-outline-secondary ms-auto'
    .card 
      .card-body
        .h3.text-center
          Tools
        Hole: 
        %input{:type=> "radio", :id=> "Hole", :onclick=>"box()",:name=>"terrain",:checked=>"checked"}
        Green: 
        %input{:type=> "radio", :id=> "Green", :onclick=>"box()",:name=>"terrain"}
        Fairway: 
        %input{:type=> "radio", :id=> "Fairway", :onclick=>"box()",:name=>"terrain"}
        Select: 
        %input{:type=> "checkbox", :id=> "colCheck", :onclick=>"selectbox()",:name=>"terrain"}
        %br
        Shift+Click to delete point
        %br
        %button{:type=>"button",:id=> "update",:onclick=>"updateCan()"}
          Save and Load canvas
        -# col: <input type="checkbox" id="colCheck" onclick="getCol()">
    .card
      .card-body
        %p{:id=>"SVGout"} #{@hole.map}