-# :javascript
-#   if (document.querySelectorAll(".show")) {
-#     console.log("yes")
-#     import("./golf_show") // webpack will load this JS async
-#   }
.row.justify-content-center
  -# left container
  .col-lg-7
    .card
      .card-body
        .h3.text-center
          Hole Viewer

        -# info
        %dl.row.mb-0
          %dt.col-md-3 Hole:
          %dd.col-md-9= "Hole #{@hole.id}"
          %dt.col-md-3 Course:
          %dd.col-md-9= @course.name
          .display{:id => "display"}
  -# right container
  .col-lg-5
    .card 
      .card-body 
        .row
          .ms-auto.float-end
            -# TODO:change path, e.g. edit_course_path(course)
            = link_to 'edit', edit_course_hole_path(@course, @hole), class: 'btn btn-outline-primary ms-auto'
            = link_to 'Back', course_holes_path(@course), class: 'btn btn-outline-secondary ms-auto'
    .card
      .card-body
        .h3.text-center
          Selected Location
        -# table
        .row
          %table.table.table-bordered.table-striped
            %thead
              %tr.table-dark.fw-bold
                %th
                  Terrain
                %th
                  Distance(yards)
                %th
                  Baseline Strokes
            %tbody
              %tr
                %th
                  %p{:id=>"terrainShow"}
                %th
                  %p{:id=>"distanceShow"}
                %th
                  %p{:id=>"baselineShow"}
        -# note
        .row
          .form-group.text-center
            %label
              Note:
            %textarea.form-control{:rows => "5"}= @hole.note

        -# checkbox
        .row.text-center.fw-bold
          .div
            %input{type: "checkbox"}
              View baselines?
    .card
      .card-body
        %p{:id=>"SVGout"} #{@hole.map}